@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&family=Source+Sans+3:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

* {
    padding: 0;
    margin: 0;
}
:root {
    --text-color: #fff;
    --btn-primary: #ca8e46;
    --text-font: "Montserrat", Helvetica, Arial, sans-serif;
    --title-font: "Mrs Saint Delafield";
}

/* Reservation Atas */
.text-center {
    font-family: var(--text-font);
    color: var(--text-color);
}

.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('../img/bgmm.jpg');
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: .2em;
}

.content p {
 color:#fff;
}

/* Reservation Bawah */
#step2 {
    padding: 3rem 0;
}

.row{
    color: var(--text-color);
    font-family: var(--text-font);
    text-align: center;
}

.con1 {
    color: var(--text-color);
    align-items: center;
    text-align: center;
    font-family: var(--text-font);
}

.con1, .row h4{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15PX;
    font-family: var(--text-font);
    font-weight: bold;
}

.con2{
    color: var(--text-color);
    align-items: center;
    text-align: center;
    font-family: var(--text-font);
}

.con3{
    color: var(--text-color);
    align-items: center;
    text-align: center;
    font-family: var(--text-font);
}

.form-control {
    width: 45%;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 2px rgba(255, 255, 255, 0.15);
    border-radius: 0;
    height: auto;
    background: rgba(34,34,34,0);
    font-family: var(--text-font);
    background-clip: padding-box;
    color: #fff;
    background-color: #212529;
}
.button {
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact */

.btn-submit {
    width: 0 20%;
    padding: .75rem 1.3rem;
    background-color: var(--btn-primary);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: var(--text-font);
    font-weight: bold;
}


body,html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
}
.nav {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 90px;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transition: all .4s ease-in; */
}
.openanim {
    backdrop-filter: blur(15px);
    background : rgba(30, 30, 30, .3);
}
.nav .texttitle {
    margin-left: 30px;
    color: var(--text-color);
    font-family: var(--title-font);
}
.nav .texttitle:hover {
    cursor: pointer;
}
.nav .texttitle a span {
    margin-top: 10px;
    margin-left: 10px;
}
.nav .texttitle a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}
.nav .texttitle a i {
    color: var(--btn-primary);
    font-size: 20px;
    margin-right: 10px;
}
.nav .texttitle a span {
    font-size: 26px;
}
.nav ul {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li {
    margin: 0px 10px;
    list-style-type: none;
}
.nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--text-font);
    transition: all .2s ease-in-out;
    font-weight: 600;
}
.nav ul li button {
    font-weight: bold;
    border: none;
    margin-left: 20px;
    padding: 8px 20px;
    background-color: var(--btn-primary);
    color: var(--text-color);
    border-radius: 1px;
    text-transform: uppercase;
}
.nav ul li a:hover {
    color: var(--btn-primary);
}
.nav ul li button:hover {
    cursor: pointer;
}

/* Ini Navuagtion */
.nav .logo {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    margin: 5px 20px;
}
.nav .logo i {
    color:var(--text-color);
}
.logo .menu {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.logo .textlogo {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
}
.nav .sidebar {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: -100vh;
    height: 40vh;
    width: 100%;
    padding: 20px 0;
    background-color: #000000d4;
    transition: all 0.3s ease;
}
.nav.open .sidebar {
    top: 0;
}
.close {
    position: absolute;
    top: 35px;
    right: 21px;
}
.tutupfungsi {
    z-index: 999;
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.5);    
}
.nav.open ~ .tutupfungsi {
  opacity: 1;
  pointer-events: auto;
}
.menuside {
    width: 100%;
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuside ul{
    margin-left: 100px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuside ul li a {
    text-decoration: none;
    margin: 10px 0px;
    color: black;
}
.mousescroll:hover {
    cursor: pointer;
}
.profiles {
    margin-top: 40px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .logo, .sidebar {
    display: none;
}


/* Media Querries */
#on {
    color: var(--btn-primary);
}
@media only screen and (max-width: 600px) {
    .nav ul {
        display: none;
    }
    .nav .logo, .sidebar {
        display: block;
    }
    
    .sidebar .active {
        margin-top: 15%;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sidebar .active li {
        margin: 8px 0px;
    }
    .nav ul li button { 
        margin-left: 0;
    }
    .form-control {
        width: 80%;
    }
    .content h1 {
        font-size: 34px;
    }
}